#slide-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  > .slide {
    position: relative;
    width: 145px;
    height: 82px;

    &.drag-active {
      background: transparent;
      border: 1px solid;

      * {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
      .upload-icon {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
        transition: .3s;
      }
      .delete-icon {
        opacity: 1;
      }
    }

    &:active {
      .delete-icon {
        display: none;
      }
    }

    .upload-icon {
      position: absolute;
      top: 50%;
      left:50%;
      opacity: 0;
      transform: translateX(-50%);
      transition: .3s;
    }

    .delete-icon {
      position: absolute;
      top: -10%;
      right: -7%;
      background-color: white;
      opacity: 0;
      color: #172B4D;
      border-radius: 1rem;
      transition: .3s;

      &:hover {
        color: #E18335;
        transform: scale(1.25);
      }
      &:active {
        display: block;
      }
    }

    .slide_input {
      display: none;
    }
  }
}