#slide-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  > .slide {
    position: relative;
    width: 145px;
    height: 82px;

    &:before {
      content: "";
      position: absolute;
      border: solid 3px transparent;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: 0.3s;
    }

    &.selected {
      &:before {
        content: "";
        border: solid 3px;
        top: -6px;
        bottom: -6px;
        left: -6px;
        right: -6px;
        transition: 0.3s;
      }

      .delete-icon {
        top: -17%;
        right: -9%;
      }
    }

    &.drag-active {
      background: transparent;
      border: 1px solid;

      &:before {
        content: "";
        border: solid 3px transparent;
        transition: 0s;
      }

      * {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
      .upload-icon {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
        transition: .3s;
      }
      .delete-icon {
        opacity: 1;
      }
    }

    .upload-icon {
      position: absolute;
      top: 50%;
      left:50%;
      opacity: 0;
      transform: translateX(-50%);
      transition: .3s;
    }

    .delete-icon {
      position: absolute;
      top: -10%;
      right: -7%;
      background-color: white;
      opacity: 0;
      color: #172B4D;
      border-radius: 1rem;
      transition: .3s;

      &:hover {
        color: #E18335;
        transform: scale(1.25);
      }
      &:active {
        display: block;
      }

      &.drag-active {
        display: none;
      }
    }

    .slide_input {
      display: none;
    }
  }
}